.home-container {
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;

    @media screen and (max-width: 1000px) {
        grid-template-columns: 0 auto 18rem;
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: 0 auto 0;
    }
}
