.new__post {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    background-color: var(--white-color);
    padding: 1rem;
    border-radius: 1rem;

    img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-top: 0.5rem;
        gap: 1rem;

        input {
            background-color: var(--lightGray-color);
            border-radius: 7px;
            padding: 6px;
            font-size: 15px;
            border: none;
            outline: none;
        }
        &-media {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            button {
                padding: 0.3rem;
                width: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 0.5rem;

                span {
                    margin: 0 10px;
                }

                &:hover {
                    cursor: pointer;
                    color: var(--white-color);
                    background-color: var(--secondary-color);
                }
            }
        }
    }
}
