.app {
    font-family: var(--font-base);
}

.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-text {
    font-size: 1rem;
    text-align: left;
    color: var(--gray-color);
    line-height: 1.5;
}
